
:root {
  --playfield-square-side-size: 3.8vh;
}

.playfield-square {
  height: calc((var(--playfield-square-side-size) / 5) + var(--playfield-square-side-size));
  width: calc((var(--playfield-square-side-size) / 5) + var(--playfield-square-side-size));
  background-color: rgba(0,0,0,.5);
  /* opacity: .7; */
  z-index: 200;
}

.playfield-overlay-square {
  background-color: none;
  height: calc((var(--playfield-square-side-size) / 5) + var(--playfield-square-side-size));
  width: calc((var(--playfield-square-side-size) / 5) + var(--playfield-square-side-size));
  z-index: 201
}

.tetrimonio-square {
  border-style: solid;
  border-color: midnightblue;
  border-radius: 20%;
  border-width: calc(var((--playfield-square-side-size) / 5) / 8);
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
  z-index: 203;
}

.tetrimino-shimmer {
  /* box-shadow: 2px 2px 10px 3px white; */
  box-shadow: 2px 2px 10px 2px white;
}

.iTet { background-color: rgb(141, 141, 141); }
.tTet { background-color: #ff00ff; }
.jTet { background-color: plum; }
.oTet { background-color: rgb(119, 3, 101); }
.sTet { background-color: powderblue; }
.lTet { background-color: cyan; }
.zTet { background-color: white; }

.trail-0 {
  /* background-color: rgb(40,40,40); */
  background-color: white;
  opacity: .05;
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}

.trail-1 {
  /* background-color: rgb(80,80,80); */
  background-color: white;
  opacity: .1;
  /* height: 25px;
  width: 25px; */
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}
.trail-2 {
  /* background-color: rgb(120,120,120); */
  background-color: white;
  opacity: .2;
  /* height: 25px;
  width: 25px; */
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}
.trail-3 {
  /* background-color: rgb(180,180,180); */
  background-color: white;
  opacity: .3;
  /* height: 25px;
  width: 25px; */
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}
.trail-4 {
  /* background-color: rgb(220,220,220); */
  background-color: white;
  opacity: .4;
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}
.trail-5 {
  /* background-color: rgb(255,255,255); */
  background-color: white;
  opacity: .7;
  height: var(--playfield-square-side-size);
  width: var(--playfield-square-side-size);
}

.ghostTet {
  background-color: black;
  color: black;
  border-style: solid;
  border-color: white;
  border-radius: 20%;
  opacity: .5;
}

.emptyTet {
  
}

.tetrimino-tile {
  margin-bottom: 12px;
}

.tetrimino-tile-row {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  justify-content: center;
}